<div class="layout">
    <app-sidebar></app-sidebar>
    <main class="main-content">
        <div class ="page-header">
            <h1>Utilisateurs</h1>
             <span class="count">{{ users.length }} comptes</span>
        </div>
        <h1></h1>

        <div class ="card">
            <div *ngIf="chargement" class="chargement">Chargement...</div>
            <table *ngIf="!chargement" class="tableau">
                <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>État</th>
                        <th>Depuis</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                         <td>
                            <div class="user-cell">
                                <div class="avatar" [class]="user.role==='ADMIN'?'avatar-red':'avatar-blue'">
                                    {{ initiales(user.nom,user.prenom) }}
                                
                                </div>

                                <span>{{ user.prenom }} {{ user.nom }}</span>

                            </div>

                         </td>
                         <td class="muted">{{ user.email }}</td>
                         <td>
                            <span [class]="user.role==='ADMIN'?'badge-red':'badge-blue'">{{ user.role }}</span>
                         </td>
                         <td>
                            <span [class]="user.active ? 'status-active' : 'status-inactive'">
                              {{ user.active ? 'Actif' : 'Désactivé' }}
                            </span>
                         </td>
                         <td class="muted">{{ user.dateCreation | date:'dd/MM/yyyy' }}</td>
                         <td>
                            <button
                              class="btn-state"
                              [class.btn-disable]="user.active"
                              [class.btn-enable]="!user.active"
                              (click)="changerEtat(user)"
                            >{{ user.active ? 'Désactiver' : 'Activer' }}</button>
                         </td>

                    </tr>
                    <tr *ngIf="users.length === 0">
                        <td colspan="6" class="vide">Aucun utilisateur rencontré.</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </main>
</div>
