<div class="layout">
  <app-sidebar></app-sidebar>

  <main class="main-content">
    <app-navbar titre="Tableau de bord"></app-navbar>   
    <div class="page-header">
      <h1>Tableau de bord</h1>
      
    </div>

    <!-- Stats -->
    <div class="stats-grid">
      <div class="stat-card">
        <p class="stat-label">Objet ouverts</p>
        <p class="stat-value blue">{{ stats.ouverts }}</p>
      </div>
      <div class="stat-card">
        <p class="stat-label">En cours</p>
        <p class="stat-value amber">{{ stats.enCours }}</p>
      </div>
      <div class="stat-card">
        <p class="stat-label">Résolus</p>
        <p class="stat-value green">{{ stats.resolus }}</p>
      </div>
      <div class="stat-card">
        <p class="stat-label">Total</p>
        <p class="stat-value">{{ objets.length }}</p>
      </div>
    </div>

    <!-- Tableau -->
    <div class="card">
      <div class="card-header">
        <h2>Derniers Objet</h2>
        <a routerLink="/objets/liste" class="voir-tout">Voir tout →</a>
      </div>

      <div *ngIf="chargement" class="chargement">Chargement...</div>

      <table *ngIf="!chargement" class="tableau">
        <thead>
          <tr>
            <th>#</th>
            <th>Titre</th>
            <th>createur</th>
            <th>type</th>
            <th>Priorité</th>
            <th>Statut</th>
            <th>Date</th>
            <th>Details</th>
            

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let objet of objets">
            <td class="id-col">#{{ objet.id }}</td>
            <td class="titre-col">{{ objet.title }}</td>
            <td class="creator-col">{{ objet.creepar }}</td>
            <td class="type-col"><span [class]="'badge ' + couleurType(objet.typeObject)">  {{ objet.typeObject }}</span></td>
            <td><span [class]="'badge ' + couleurPriorite(objet.priority)">{{ objet.priority }}</span></td>
            <td><span [class]="'badge ' + couleurStatut(objet.status)">{{ objet.status }}</span></td>
            <td class="date-col">{{ objet.createdAt | date:'dd/MM/yyyy' }}</td>
            <td>
              <a [routerLink]="['/objets/detail', objet.id]" class="btn-voir">Voir</a>
            </td>
          </tr>
          <tr *ngIf="objets.length === 0">
            <td colspan="6" class="vide">Aucun Objet pour le moment.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>